<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oliver.guava.mapper.TemplatePoMapper">
  <resultMap id="BaseResultMap" type="com.oliver.guava.dao.TemplatePo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="email_type" jdbcType="VARCHAR" property="emailType" />
    <result column="template_type" jdbcType="TINYINT" property="templateType" />
    <result column="place_holders" jdbcType="VARCHAR" property="placeHolders" />
    <result column="email_description" jdbcType="VARCHAR" property="emailDescription" />
    <result column="trigger_rule_description" jdbcType="VARCHAR" property="triggerRuleDescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lastmodified_by" jdbcType="VARCHAR" property="lastmodifiedBy" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.oliver.guava.dao.TemplatePo">
    <result column="email_template_list" jdbcType="LONGVARCHAR" property="emailTemplateList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, email_type, template_type, place_holders, email_description, trigger_rule_description, 
    state, created_by, created_time, lastmodified_by, last_time
  </sql>
  <sql id="Blob_Column_List">
    email_template_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email (id, brand, email_type, 
      template_type, place_holders, email_description, 
      trigger_rule_description, state, created_by, 
      created_time, lastmodified_by, last_time, 
      email_template_list)
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{emailType,jdbcType=VARCHAR}, 
      #{templateType,jdbcType=TINYINT}, #{placeHolders,jdbcType=VARCHAR}, #{emailDescription,jdbcType=VARCHAR}, 
      #{triggerRuleDescription,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastmodifiedBy,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{emailTemplateList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="emailType != null">
        email_type,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="placeHolders != null">
        place_holders,
      </if>
      <if test="emailDescription != null">
        email_description,
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="emailTemplateList != null">
        email_template_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        email_type = #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        place_holders = #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        email_description = #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.oliver.guava.dao.TemplatePo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="email_type" jdbcType="VARCHAR" property="emailType" />
    <result column="template_type" jdbcType="TINYINT" property="templateType" />
    <result column="place_holders" jdbcType="VARCHAR" property="placeHolders" />
    <result column="email_description" jdbcType="VARCHAR" property="emailDescription" />
    <result column="trigger_rule_description" jdbcType="VARCHAR" property="triggerRuleDescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lastmodified_by" jdbcType="VARCHAR" property="lastmodifiedBy" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.oliver.guava.dao.TemplatePo">
    <result column="email_template_list" jdbcType="LONGVARCHAR" property="emailTemplateList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, email_type, template_type, place_holders, email_description, trigger_rule_description, 
    state, created_by, created_time, lastmodified_by, last_time
  </sql>
  <sql id="Blob_Column_List">
    email_template_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email (id, brand, email_type, 
      template_type, place_holders, email_description, 
      trigger_rule_description, state, created_by, 
      created_time, lastmodified_by, last_time, 
      email_template_list)
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{emailType,jdbcType=VARCHAR}, 
      #{templateType,jdbcType=TINYINT}, #{placeHolders,jdbcType=VARCHAR}, #{emailDescription,jdbcType=VARCHAR}, 
      #{triggerRuleDescription,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastmodifiedBy,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{emailTemplateList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="emailType != null">
        email_type,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="placeHolders != null">
        place_holders,
      </if>
      <if test="emailDescription != null">
        email_description,
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="emailTemplateList != null">
        email_template_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        email_type = #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        place_holders = #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        email_description = #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.oliver.guava.dao.TemplatePo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="email_type" jdbcType="VARCHAR" property="emailType" />
    <result column="template_type" jdbcType="TINYINT" property="templateType" />
    <result column="place_holders" jdbcType="VARCHAR" property="placeHolders" />
    <result column="email_description" jdbcType="VARCHAR" property="emailDescription" />
    <result column="trigger_rule_description" jdbcType="VARCHAR" property="triggerRuleDescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lastmodified_by" jdbcType="VARCHAR" property="lastmodifiedBy" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.oliver.guava.dao.TemplatePo">
    <result column="email_template_list" jdbcType="LONGVARCHAR" property="emailTemplateList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, email_type, template_type, place_holders, email_description, trigger_rule_description, 
    state, created_by, created_time, lastmodified_by, last_time
  </sql>
  <sql id="Blob_Column_List">
    email_template_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email (id, brand, email_type, 
      template_type, place_holders, email_description, 
      trigger_rule_description, state, created_by, 
      created_time, lastmodified_by, last_time, 
      email_template_list)
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{emailType,jdbcType=VARCHAR}, 
      #{templateType,jdbcType=TINYINT}, #{placeHolders,jdbcType=VARCHAR}, #{emailDescription,jdbcType=VARCHAR}, 
      #{triggerRuleDescription,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastmodifiedBy,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{emailTemplateList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="emailType != null">
        email_type,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="placeHolders != null">
        place_holders,
      </if>
      <if test="emailDescription != null">
        email_description,
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="emailTemplateList != null">
        email_template_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        email_type = #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        place_holders = #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        email_description = #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.oliver.guava.dao.TemplatePo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="email_type" jdbcType="VARCHAR" property="emailType" />
    <result column="template_type" jdbcType="TINYINT" property="templateType" />
    <result column="place_holders" jdbcType="VARCHAR" property="placeHolders" />
    <result column="email_description" jdbcType="VARCHAR" property="emailDescription" />
    <result column="trigger_rule_description" jdbcType="VARCHAR" property="triggerRuleDescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lastmodified_by" jdbcType="VARCHAR" property="lastmodifiedBy" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.oliver.guava.dao.TemplatePo">
    <result column="email_template_list" jdbcType="LONGVARCHAR" property="emailTemplateList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, email_type, template_type, place_holders, email_description, trigger_rule_description, 
    state, created_by, created_time, lastmodified_by, last_time
  </sql>
  <sql id="Blob_Column_List">
    email_template_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email (id, brand, email_type, 
      template_type, place_holders, email_description, 
      trigger_rule_description, state, created_by, 
      created_time, lastmodified_by, last_time, 
      email_template_list)
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{emailType,jdbcType=VARCHAR}, 
      #{templateType,jdbcType=TINYINT}, #{placeHolders,jdbcType=VARCHAR}, #{emailDescription,jdbcType=VARCHAR}, 
      #{triggerRuleDescription,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastmodifiedBy,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{emailTemplateList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="emailType != null">
        email_type,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="placeHolders != null">
        place_holders,
      </if>
      <if test="emailDescription != null">
        email_description,
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="emailTemplateList != null">
        email_template_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        email_type = #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        place_holders = #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        email_description = #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.oliver.guava.dao.TemplatePo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="email_type" jdbcType="VARCHAR" property="emailType" />
    <result column="template_type" jdbcType="TINYINT" property="templateType" />
    <result column="place_holders" jdbcType="VARCHAR" property="placeHolders" />
    <result column="email_description" jdbcType="VARCHAR" property="emailDescription" />
    <result column="trigger_rule_description" jdbcType="VARCHAR" property="triggerRuleDescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lastmodified_by" jdbcType="VARCHAR" property="lastmodifiedBy" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.oliver.guava.dao.TemplatePo">
    <result column="email_template_list" jdbcType="LONGVARCHAR" property="emailTemplateList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, email_type, template_type, place_holders, email_description, trigger_rule_description, 
    state, created_by, created_time, lastmodified_by, last_time
  </sql>
  <sql id="Blob_Column_List">
    email_template_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email (id, brand, email_type, 
      template_type, place_holders, email_description, 
      trigger_rule_description, state, created_by, 
      created_time, lastmodified_by, last_time, 
      email_template_list)
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{emailType,jdbcType=VARCHAR}, 
      #{templateType,jdbcType=TINYINT}, #{placeHolders,jdbcType=VARCHAR}, #{emailDescription,jdbcType=VARCHAR}, 
      #{triggerRuleDescription,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastmodifiedBy,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{emailTemplateList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="emailType != null">
        email_type,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="placeHolders != null">
        place_holders,
      </if>
      <if test="emailDescription != null">
        email_description,
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="emailTemplateList != null">
        email_template_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        email_type = #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        place_holders = #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        email_description = #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.oliver.guava.dao.TemplatePo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="email_type" jdbcType="VARCHAR" property="emailType" />
    <result column="template_type" jdbcType="TINYINT" property="templateType" />
    <result column="place_holders" jdbcType="VARCHAR" property="placeHolders" />
    <result column="email_description" jdbcType="VARCHAR" property="emailDescription" />
    <result column="trigger_rule_description" jdbcType="VARCHAR" property="triggerRuleDescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lastmodified_by" jdbcType="VARCHAR" property="lastmodifiedBy" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.oliver.guava.dao.TemplatePo">
    <result column="email_template_list" jdbcType="LONGVARCHAR" property="emailTemplateList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, email_type, template_type, place_holders, email_description, trigger_rule_description, 
    state, created_by, created_time, lastmodified_by, last_time
  </sql>
  <sql id="Blob_Column_List">
    email_template_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email (id, brand, email_type, 
      template_type, place_holders, email_description, 
      trigger_rule_description, state, created_by, 
      created_time, lastmodified_by, last_time, 
      email_template_list)
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{emailType,jdbcType=VARCHAR}, 
      #{templateType,jdbcType=TINYINT}, #{placeHolders,jdbcType=VARCHAR}, #{emailDescription,jdbcType=VARCHAR}, 
      #{triggerRuleDescription,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{lastmodifiedBy,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{emailTemplateList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oliver.guava.dao.TemplatePo">
    insert into system_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="emailType != null">
        email_type,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="placeHolders != null">
        place_holders,
      </if>
      <if test="emailDescription != null">
        email_description,
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="emailTemplateList != null">
        email_template_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    <set>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="emailType != null">
        email_type = #{emailType,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        template_type = #{templateType,jdbcType=TINYINT},
      </if>
      <if test="placeHolders != null">
        place_holders = #{placeHolders,jdbcType=VARCHAR},
      </if>
      <if test="emailDescription != null">
        email_description = #{emailDescription,jdbcType=VARCHAR},
      </if>
      <if test="triggerRuleDescription != null">
        trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedBy != null">
        lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="emailTemplateList != null">
        email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      email_template_list = #{emailTemplateList,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliver.guava.dao.TemplatePo">
    update system_email
    set brand = #{brand,jdbcType=VARCHAR},
      email_type = #{emailType,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=TINYINT},
      place_holders = #{placeHolders,jdbcType=VARCHAR},
      email_description = #{emailDescription,jdbcType=VARCHAR},
      trigger_rule_description = #{triggerRuleDescription,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      lastmodified_by = #{lastmodifiedBy,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>